.tasks {
  margin-top: 30px;
}

.tasks li {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks li span {
  display: flex;
  align-items: center;
}

.tasks li .edit {
  cursor: pointer;
  margin-right: 15px;
  color: #0066cc;
}

.tasks li .delete {
  cursor: pointer;
  color: #ff1a1a;
}
